.Browser{
	display: inline-block;
	border-left: 2px solid yellow;
	height: 100%
}

.Browser_table {
	width: 100%;
	border-spacing: 0px
}

.Browser_row {
	padding: 0;
    cursor: pointer;
}

.Browser_row:hover {
	background-color: white;
	outline: thin white solid;
}

.Browser_icon {
	width: min-content
}
.Browser_icon_selected {
	width: min-content;
	color: white;
}

.Browser_row_selected_folder {
	padding: 0;
	background-color: yellow;
	border: yellow
}

.Browser_row_selected_file {
	padding: 0;
	background-color: white;
	border: yellow
}