block content
  div.container
    p.content Type "help" to navigate my e-portfolio<br> and landing-page to go back to the landing page<br>
    form.submitform
      div
        div.submittext B:/>
        input.command(type="text",name="command",rows="1",placeholder="Enter command",autofocus,autocorrect="off",autocomplete="off",autocapitalize="none")
      input.submitbutton(type="submit",tabindex=-1)
