extends layout


block content
	p=cmd
	table
		tr
			td(VALIGN="TOP") Usage 
			td(VALIGN="TOP") : 
			td(VALIGN="TOP")=data.usage
		tr
			td(VALIGN="TOP") Purpose 
			td(VALIGN="TOP") : 
			td(VALIGN="TOP")=data.purpose