html {
	height: 100%
}

body {
	height: 100%
}

#root {
	height: 100%
}

.Editor{
	min-height: 100%;
	width: 100%;
	display: inline;
}
.Editor_browser{
	height: 50%;
	width: 100%;
}



.Editor_editfile{
	height: 50%;
	width: 100%;
	display: grid;
	overflow: auto
}

.Editor_editfile_inside{
	height: 100%;
	width: 100%;
	display: grid;
}

.Editor :global(.public-DraftEditor-content) {
	  overflow: auto;
	}