html {
    color: #008106;
    font-size: 1em;
    line-height: 1.4;
    font-family: "Lucida Console";
    background-color: #000;
}


a {
  color: #00B7FF;
}

#mobile {
	font-size: 2em;
}

#container {
	position:fixed; 
	bottom:0; 
	right:0;
	left:0
}

#submittext {
	display: inline-flex;
}

#content {
	width: 100%; 
	word-wrap: break-word; 
	overflow: auto; 
	max-height: 100vh;
}

#submitbutton {
	position: absolute; 
	left: -9999px; 
	width: 1px; 
	height: 1px;
}

#submitform {
	width: 100%;
	color: #008106;
	font-size: 25px;
}

#command {
	display: inline-flex;
	width: calc(100% - 5ch);
	outline-style: none;
	outline: none;
	resize: none;
	border-width: 0;
	background-color: #000000;
	color: #008106;
	font-size: 25px;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0, 129, 6, 0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0, 129, 6, 0.4); 
}